/*galería con grid*/


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 1em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;

}


.galeria__item {
    text-align: center;
    width: 100%;
    height: 100%;
}

.galeria__imagen {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.galeria__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.galeria__item:hover .galeria__imagen img {
    transform: scale(1.3);
    /*las imágenes hacen zoom con una transición suave cuando paso el cursor sobre ellas*/
}

.columna__ancho--uno {
    grid-column: span 1;
}

.columna__ancho--dos {
    grid-column: span 2;
}

.fila__alto--uno {
    grid-row: span 1;
}

.fila__alto--dos {
    grid-row: span 2;
}

.fila__alto--tres {
    grid-row: span 3;
}


/*MEDIA QUERIES*/


@media screen and (max-width:576px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }

    .columna__ancho--dos {
        grid-column: span 1;
    }

}

/*A partir del media query anterior (mobile first), la galería ya es responsive en los dispositivos más grandes*/

@media screen and (max-width:768px) {}